/* ===============Drop Down================== */

.cmp-adaptiveform-dropdown__widget {
  @include field_widget;
  background-image: url('./resources/images/dropdown.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  appearance: none;
}

select::after {
  content: '' ;
  background: url(./resources/images/dropdown.svg) center center / cover no-repeat;
}






// .cmp-adaptiveform-dropdown__longdescription {
//   color: $light-gray;
//   background-color: $very-light-gray;
//   font-size: $font-s;
//   padding: 0.125rem 0.5rem;
//   margin-top: $error-top-margin;
//   margin-right: $field-right-margin;
// }
// .cmp-adaptiveform-dropdown__shortdescription {
//   font-size: $font-s;
//   margin-top: $error-top-margin;
// }
// .cmp-adaptiveform-dropdown__questionmark{
//   position: absolute;
//   display:inline-block;
//   top:8px;
//   right:28px;
//   width:1rem;
//   height:1rem;
//   border-radius: 9px;
//   background: url(./resources/images/question.svg) center center / cover no-repeat,#969696;
//   cursor : pointer;
// }
// .cmp-adaptiveform-dropdown__errormessage{
//   color: $error;
// }
// .cmp-adaptiveform-dropdown[data-cmp-valid=false]{
//   background: $light-error;
//   border: 0 solid $error;
//   border-left-width: 4px;
//   padding-left: 5px;
// }
// .cmp-adaptiveform-dropdown[data-cmp-valid=true]{
//   border: 0 solid $success;
//   border-left-width: 4px;
//   padding-left: 5px;
// }
.cmp-adaptiveform-dropdown__widget[multiple='multiple'] {
  height: 80px;
}