.cmp-adaptiveform-wizard {
  position: relative;
  margin: $space-l 0;
  margin-top: $space-s;

  &__label {
    @include panel-label;
  }

  @include description;

  &__widget {
    position: relative;
  }

  &__tabList {
    @include tab-list;
  }

  &__tab {
    @include wizard-tab;
  }

  &__wizardpanel {
    @include tab-container;
  }

  &__previousNav {
    @include wizard-previous-button;
  }

  &__nextNav {
    @include wizard-next-button;
  }
}