.cmp-adaptiveform-wizard {
  position: relative;
  margin: $space-l 0;
  margin-top: $space-s;

  &__label-container {
    margin-bottom: $space-s;
  }
  &__label {
    @include panel-label;
  }

  @include description;

  &__widget {
    position: relative;
  }

  &__tabList {
    @include tab-list;
  }

  &__tab {
    @include wizard-tab;
  }

  &__wizardpanel {
    @include tab-container;
  }

  &__previousNav {
    @include wizard-previous-button;
  }

  &__nextNav {
    @include wizard-next-button;
  }

  &__containerNav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    position: absolute;
    bottom: -80px;
    width: 100%;
  }

  &__nav {
    &--previous {
      @include wizard-previous-button;
      
    }
    &--next {
      @include wizard-next-button;
    }
  }
}