/* ===============File Input================== */



.cmp-adaptiveform-fileinput__widget {}

.cmp-adaptiveform-fileinput__widget::-webkit-file-upload-button {
  visibility: hidden;
  background-color: $very-light-gray;
  border: none;
  height: $tap-height;
  border-radius: $button-radius;
  font-weight: 500 !important;
  padding: 0 $space-l;
}

br {
  display: none;
}

.cmp-adaptiveform-fileinput__widgetlabel::before {}

.cmp-adaptiveform-fileinput__widgetlabel {
  @include secondary_button;
  pointer-events: all;
}

input[type="file"] {
  column-gap: $space-l !important;
}




// .cmp-adaptiveform-fileinput__longdescription {
//   color: $light-gray;
//   background-color: $very-light-gray;
//   font-size: $font-s;
//   padding: 0.125rem 0.5rem;
//   margin-top: $error-top-margin;
//   margin-right: $field-right-margin;
// }

// .cmp-adaptiveform-fileinput__shortdescription {
//   font-size: $font-s;
//   margin-top: $error-top-margin;
// }

// .cmp-adaptiveform-fileinput__questionmark {
//   position: absolute;
//   display:inline-block;
//   top:8px;
//   right:28px;
//   width:1rem;
//   height:1rem;
//   border-radius: 9px;
//   background: url(./resources/images/question.svg) center center / cover no-repeat,#969696;
//   cursor : pointer;
// }

// .cmp-adaptiveform-fileinput__errormessage{
//   color: $error;
//   font-size: $font-s;
// }

// .cmp-adaptiveform-fileinput[data-cmp-valid=false]{
//   background: $light-error;
//   border: 0 solid $error;
//   border-left-width: 4px;
//   padding-left: 5px;
// }

// .cmp-adaptiveform-fileinput[data-cmp-valid=true]{
//   border: 0 solid $success;
//   border-left-width: 4px;
//   padding-left: 5px;
// }

.cmp-adaptiveform-fileinput__filelist {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.cmp-adaptiveform-fileinput__fileitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $tap-height;
  padding: 0 $space-s;
  border-bottom: $border-light;
}

.cmp-adaptiveform-fileinput__filename {
  position: static;
}



.cmp-adaptiveform-fileinput__filedelete {

  cursor: pointer;
}
