/* ===============Radio Button================== */







.cmp-adaptiveform-radiobutton__widget {
  @include list-container;
}


// .cmp-adaptiveform-radiobutton__longdescription {
//   color: $light-gray;
//   background-color: $very-light-gray;
//   font-size: $font-s;
//   padding: 0.125rem 0.5rem;
//   margin-top: $error-top-margin;
// }
// .cmp-adaptiveform-radiobutton__shortdescription {
//   font-size: $font-s;
//   margin-top: $error-top-margin;
// }
// .cmp-adaptiveform-radiobutton__questionmark{
//   position: absolute;
//   display:inline-block;
//   top:8px;
//   right:28px;
//   width:1rem;
//   height:1rem;
//   border-radius: 9px;
//   background: url(./resources/images/question.svg) center center / cover no-repeat,#969696;
//   cursor : pointer;
// }
// .cmp-adaptiveform-radiobutton__errormessage{
//   color: $error;
//   font-size: $font-s;
// }





span {
  opacity: 1;
}




input[type="radio"] {
  @include field_widget;
  outline: none !important;




  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 1.1rem !important;
  width: 1.1rem !important;
  appearance: none;
  margin: 0;
  border-radius: 1rem;
}

input[type='radio']:checked {
  background-color: $accent !important;
}

input[type='radio']:checked::after {
  content: '';
  background: $dark-gray;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.cmp-adaptiveform-radiobutton__option {
  @include list-item;
}

.cmp-adaptiveform-radiobutton__option__label:hover input[type='radio'] {
  background-color: white;
}

.cmp-adaptiveform-radiobutton__option__label {
  position: static;
  color: black !important;
  opacity: 1 !important;
  display: flex;
  align-items: center;
  column-gap: $space-s;
  height: $tap-height;
  pointer-events: all;
  margin: 0;
  padding: 0 $space-s;

}

.cmp-adaptiveform-radiobutton__option__label:hover {
  background-color: $very-light-gray;
}

// .cmp-adaptiveform-radiobutton[data-cmp-valid=false]{
//   background: $light-error;
//   border: 0 solid $error;
//   border-left-width: 4px;
//   padding-left: 5px;
// }
// .cmp-adaptiveform-radiobutton[data-cmp-valid=true]{
//   border: 0 solid $success;
//   border-left-width: 4px;
//   padding-left: 5px;
// }
