.cmp-accordion {
  position: relative;
  margin: $space-l 0;
  @include description;
  
  &__label-container {
    margin-bottom: $space-s;
  }

  &__label {
    @include panel-label;
  }
  
  &__item {
    border-bottom: $border-light;
    border-width: 2px;
  }

  &__item:nth-child(2) {
    border-top: $border-light;
    border-width: 2px;
  }

  &__button {
    opacity: 1;
    height: $tap-height;
    font-size: $font-m;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0 $space-s;
    color: $gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      color: $secondary;
      border-color: $secondary;

    }

    &--expanded {
      color: $secondary;
      // border-bottom: $border-dark;
      margin-bottom: $space-xs;

      &:hover {
        color: $secondary;

      }
    }
  }

  &__button &__icon {
    display: inline-block;
    background: url(./resources/images/dropdown.svg) center center / cover no-repeat;
    height: 16px;
    width: 16px;
  }

.cmp-accordion__button.cmp-accordion__button--expanded &__icon {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

  &__button:hover>.cmp-accordion__title:before {
    border-color: $secondary;
  }

  &__title {
    font-weight: bold;
    display: flex;
    column-gap: $space-s;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    @include tab-list;
    border: none;
    background-color: transparent;
    margin: 0;

  }

  &__header{
    display: flex;
  }
  &__button{
    flex: 1;
  }
  &__repeatable-buttons {
    @include repeatable-buttons;
  }
  &__panel {
    @include tab-container;
  }
}