//== Font


$font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $font-family-title: 'Source Serif Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// ====== colors======
$accent: #ffea00;
$dark-accent: #ebd800;
$focus-outline: 2px $dark-gray solid;
$error-outline: 2px $error solid;
$border-light: 1px $bg-gray solid;
$border-error: 1px $error solid;
$border-dark: 1px $light-gray solid;

// ====== font size======
$font-xl: 2.618em;
$font-l: 1.618em;
$font-m: 1rem;
$font-s: .75rem;
// $font-xl: 1.777rem;
// $font-l: 1.333rem;
// $font-m: 1rem;
// $font-s: .75rem;
// $font-xs: .563rem;

// ====== space ======
$space-xs: 4px;
$space-s: 16px;
$space-m: 40px;
$space-l: 80px;
$space-xl: 120px;

$field-radius: 12px;
$button-radius: 4px;
$tap-height: 48px;

//== Grid

$max_col: 12;


$error_icon: url(./resources/images/error.svg)
